<!-- ============================================ -->
<!-- BLOCCO: CTA Contrate nossos serviços       -->
<!-- id: contrate | âncora: /#contrate           -->
<!-- Chamada para preencher formulário          -->
<!-- ============================================ -->

<section id="contrate" class="section-rm section-cta-rm">
    <div class="cs-container">
        <p class="section-cta-rm-text">Contrate nossos serviços agora</p>
        <a href="/contact/" class="cs-button-solid">Preencha o formulário</a>
    </div>
</section>
